.sidebarStyle{
    width:100%;
    min-height:80vh;



}


.sidebarStyle  .sidebartitle{
    border-bottom: 3px solid rgb(92, 92, 92);
    display: flex;
    padding-left:10px;
}

.sidebarStyle .sidebartitle .updateSidebar {
 color:gray;
 cursor: pointer;
}



.sidebarStyle .vipCharecterDiv{
    border-bottom: 3px solid rgb(192, 192, 192); 
}


.sidebarStyle ul {
    margin-bottom: 15px;
}

.sidebarStyle ul li {}

.sidebarStyle ul li a {
    color:white;
    display: block;
    cursor: pointer;
    text-align: left;
    padding:10px;
    margin-top:20px;
    text-decoration: none;
    border-left: 5px solid rgb(192, 192, 192); 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom: none;
    transition: 0.3s;
}

.sidebarStyle ul li a:hover{

-webkit-box-shadow: 0px 0px 25px 0px rgb(192, 192, 192);
-moz-box-shadow: 0px 0px 25px 0px rgba(192, 192, 1927);
box-shadow: 0px 15px 15px -10px rgba(192, 192, 192);
}


.sidebarStyle .vipCharecterDiv ul li a:hover{
margin-left: 20px;
border-bottom: 3px solid rgb(192, 192, 192); 

}

/* ------------------------------------------------------Chapters */

.sidebarStyle .sidebarChapterTabel{
    padding-left: 10px;
}

.sidebarStyle .sidebarChapterTabel .chapterLinkA {
    display: flex;
}

.sidebarStyle .sidebarChapterTabel .chapterLinkA:hover{
    cursor: pointer;
background-color: rgb(92, 92, 92);
}


.sidebarStyle .sidebarChapterTabel  a{
 display: block;
 width:100%;
 color:white;
 text-decoration: none;
}



.sidebarStyle .sidebarChapterTabel  .ongoing{

width:10px;
height:10px;
border-radius: 100%;
margin: auto 0;
margin-right:5px;
filter: blur(1px);

background-color: rgb(255, 166, 0);


}


.sidebarStyle .sidebarChapterTabel   .done{

    width:10px;
    height:10px;
    border-radius: 100%;
    margin: auto 0;
    filter: blur(1px);
    margin-right:5px;
    background-color: rgb(33, 197, 33);
    
    
    }

    .sidebarStyle .sidebarChapterTabel  .none{

        width:10px;
        height:10px;
        border-radius: 100%;
        margin: auto 0;
        filter: blur(1px);
        margin-right:5px;
        background-color: rgb(83, 83, 83);
        
        
        }

        
        /* -----------------hide function */

        .NextOnTodoSidebarDiv {
            border-bottom: 3px solid rgb(192, 192, 192);
        }
        
        .NextOnTodoSidebarDiv .nextSidebarTodoContent {
            padding:10px;
            text-align: center;
        }
        
        .NextOnTodoSidebarDiv .nextSidebarTodoContent .nextTodoDoneSidebar {
            border: 1px solid white;
            border-radius: 10px;
            cursor: pointer;
            margin-top:10px;
        
        }

        .NextOnTodoSidebarDiv .nextSidebarTodoContent .nextTodoDoneSidebar:hover{
            background-color: rgb(192, 192, 192);
            color: black;
        }

        
.sidebartitle {
    cursor: pointer;
}

.sidebarStyle .hide {
    display: none;
}



/* ---------------------------------------------------------------TODO */




.sidebarStyle .todoSidebarTypeFunctionDiv{
    display: flex;
  justify-content: space-between;
}

.sidebarStyle .todoSidebarTypeFunctionDiv .rightbutton,
.sidebarStyle .todoSidebarTypeFunctionDiv .leftbutton{
    border: 2px solid white;
    border-radius: 100%;
    width:25px;
    height: 25px;
    cursor: pointer;
}


.sidebarStyle .todoSidebarTypeFunctionDiv .rightbutton:hover,
.sidebarStyle .todoSidebarTypeFunctionDiv .leftbutton:hover{
    -webkit-box-shadow: 0px 0px 18px 0px rgb(0,255,204);
    -moz-box-shadow: 0px 0px 18px 0px rgb(0,255,204);
    box-shadow: 0px 0px 18px 0px rgb(0,255,204);
    background-color: rgb(192, 192, 192);
    color: black;
}


.sidebarStyle .todoSidebarTypeFunctionDiv .selectTypeTodo{
    width:70%;
    border: 2px solid white;
    border-radius: 20%;
}

.sidebarStyle .sidebarTodoDescriptionDiv{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 20%;
    padding:5px;
    margin-top:10px;
    background-color: black;
}


.sidebarStyle .sidebarTodoDescriptionDiv p{
 padding:10px;
}

.sidebarStyle .todoSidebarTypeFunctionDiv .selectTypeTodo .red{background-color: rgba(255, 0, 0, 0.203)}
.sidebarStyle .todoSidebarTypeFunctionDiv .selectTypeTodo .green{background-color: rgba(0, 255, 0, 0.203)}
.sidebarStyle .todoSidebarTypeFunctionDiv .selectTypeTodo .blue{background-color: rgba(0, 0, 255, 0.203)}

.sidebarStyle .NextOnTodoSidebarDiv a {
    color:white;
    text-decoration: none;
    display: block;
    width:100%;
    height: 100%;
    padding:10px;
    margin: 10px auto;

}
